@model BusApplication.Entity.Customer
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<br />
@if (TempData["Message"] != null)
{
    <strong>
        @Html.Label((string)TempData["Message"])
    </strong>
}
@Html.Partial("Demo2");
@{ 
    Html.RenderPartial("Demo2");
}
@{ 
    Html.RenderAction("Demo");
}
@using (Html.BeginForm())
{
    <table cellpadding="10">
        <tr>
            <td>
                @Html.LabelFor(Model=>Model.userId,"Email Id")
            </td>
            <td>
                @Html.EditorFor(Model => Model.userId)
            </td>
        </tr>
        <tr>
            <td>
                @Html.Label("Password")
            </td>
            <td>
                @Html.EditorFor(Model => Model.userPassword)
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" id="Add" />
            </td>

        </tr>
    </table>
}
